:root {
  --primary-color: #7d8996;
  --primary-color-dark: #192228;
  --secondary-color: #66a43f;
  --element-color: #28566d;
  --text-color: #d8cb98;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-linear-gradient(180deg, rgb(25, 34, 40) 31%, rgb(41, 82, 105)) no-repeat;
  background: -moz-linear-gradient(180deg, rgb(25, 34, 40) 31%, rgb(41, 82, 105)) no-repeat;
  background: linear-gradient(180deg, rgb(25, 34, 40) 31%, rgb(41, 82, 105)) no-repeat;
}
