@import '../../../scss/variables';
@import '../../../scss/mixins';

.person {
  height: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: $main-shadow;
  background: $primary-color;
  cursor: pointer;

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__info {
    padding: 1rem 1.5rem;
  }

  &__name {
    text-align: center;
    @include font(2.4rem, 700, $primary-color-dark);
  }
}
